.addR_main{
    display: flex;
    justify-content: center;
}
.addR_sec{
    width: 500px;
    height: 300px;
   background-color: whitesmoke;
   margin-top: 100px;
   border-radius: 4px;
   color: rgb(95, 60, 60);
}
.addR_sec >*{
    margin-left: 25px;
    
}
.addR_sec textarea{
    width: 450px;
    height: 150px;
}
.addR_sec h2{
    font-family:Brush Script MT;
    color: rgb(125, 89, 89);
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
}
.addR_sec button{
 float: right;
 margin-right: 27px;
 color: white;
 background-color: rgb(95, 60, 60);
}